@import '../../../assets/styles/_colors';

.app-data-table_header {
    border-collapse: collapse;

    thead {
        th {
            border: 1px solid grey;
            // margin: 2px 5px;
            font-weight: 500;
            font-size: 13px;
            height: 20px;
            text-align: center;
            padding: 0;
            background: lightgreen;
        }
    }
}