@import '../../../assets/styles/_colors';

.app-vr-tag {
    border-collapse: collapse;
    background: #f6f6f6;

    tbody {
        td {
            border: 1px solid grey;
            // margin: 2px 5px;
            text-align: center;
            font-size: 14px;
            height: 18px;
        }
    }
}